#name: Deploy to Development (Unified)
#
#on:
#  push:
#    branches-ignore: [ main ]
#  pull_request:
#    branches-ignore: [ main ]
#
#permissions:
#  contents: read
#  id-token: write
#  packages: write
#  pull-requests: write
#
#env:
#  TF_IN_AUTOMATION: true
#  TF_INPUT: false
#  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
#  GKE_CLUSTER: ${{ secrets.GKE_CLUSTER_NAME }}
#  GKE_ZONE: ${{ secrets.GKE_ZONE }}
#  GCP_REGION: ${{ secrets.GCP_REGION }}
#  IMAGE_NAME: tasks-app
#
#jobs:
#  # ===== PHASE 1: TERRAFORM =====
#  terraform-fmt-validate:
#    name: Terraform Format & Validate
#    runs-on: ubuntu-latest
#    environment:
#      name: Develop
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      - name: Auth to Google Cloud (WIF)
#        uses: google-github-actions/auth@v2
#        with:
#          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
#          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
#
#      - name: Setup Terraform
#        uses: hashicorp/setup-terraform@v3
#        with:
#          terraform_version: 1.8.5
#          terraform_wrapper: true
#
#      - name: Cache Terraform plugins
#        uses: actions/cache@v4
#        with:
#          path: |
#            ~/.terraform.d/plugin-cache
#            ./.terraform
#          key: ${{ runner.os }}-terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
#          restore-keys: |
#            ${{ runner.os }}-terraform-
#
#      - name: Terraform Init (backend dev)
#        run: |
#          cd terraform
#          terraform init \
#            -backend-config=../configs/dev.config
#
#      - name: Terraform Format Check
#        run: |
#          cd terraform
#          terraform fmt -check -recursive
#
#      - name: Terraform Validate
#        run: |
#          cd terraform
#          terraform validate
#
#  terraform-plan:
#    name: Terraform Plan
#    runs-on: ubuntu-latest
#    needs: [terraform-fmt-validate]
#    if: github.event_name == 'pull_request' || github.event_name == 'push'
#    environment:
#      name: Develop
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      - name: Auth to Google Cloud (WIF)
#        uses: google-github-actions/auth@v2
#        with:
#          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
#          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
#
#      - name: Setup Terraform
#        uses: hashicorp/setup-terraform@v3
#        with:
#          terraform_version: 1.8.5
#          terraform_wrapper: true
#
#      - name: Cache Terraform plugins
#        uses: actions/cache@v4
#        with:
#          path: |
#            ~/.terraform.d/plugin-cache
#            ./.terraform
#          key: ${{ runner.os }}-terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
#          restore-keys: |
#            ${{ runner.os }}-terraform-
#
#      - name: Terraform Init (backend dev)
#        run: |
#          cd terraform
#          terraform init \
#            -backend-config=../configs/dev.config
#
#      - name: Terraform Plan (env dev)
#        run: |
#          cd terraform
#          terraform plan \
#            -var-file=../environments/dev/terraform.tfvars \
#            -input=false
#
#  terraform-apply:
#    name: Terraform Apply
#    runs-on: ubuntu-latest
#    needs: [terraform-plan]
#    if: github.event_name == 'push'
#    environment:
#      name: Develop
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      - name: Auth to Google Cloud (WIF)
#        uses: google-github-actions/auth@v2
#        with:
#          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
#          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
#
#      - name: Setup Terraform
#        uses: hashicorp/setup-terraform@v3
#        with:
#          terraform_version: 1.8.5
#          terraform_wrapper: true
#
#      - name: Cache Terraform plugins
#        uses: actions/cache@v4
#        with:
#          path: |
#            ~/.terraform.d/plugin-cache
#            ./.terraform
#          key: ${{ runner.os }}-terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
#          restore-keys: |
#            ${{ runner.os }}-terraform-
#
#      - name: Terraform Init (backend dev)
#        run: |
#          cd terraform
#          terraform init \
#            -backend-config=../configs/dev.config
#
#      - name: Terraform Apply (env dev)
#        run: |
#          cd terraform
#          terraform apply \
#            -auto-approve \
#            -var-file=../environments/dev/terraform.tfvars \
#            -input=false
#